table {
    border-collapse: collapse;
}

th, td {
    border: 1px black solid;
    padding: 0.25em 0.5em;
}

.center {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: blue;
}