.display-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.title {
    text-align: center;
    color: orange;
    margin-top: 15vh;
    font-size: 55px;
}

.center-text {
    text-align: center;
}

.internship-location_master {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.center-link {
    margin-top: 5%;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.two-link {
    display: flex;
    justify-content: space-between;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 2%;
    margin-top: 10vh;
}

.thanks-text {
    margin-top: 10vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
}

.display-team {
    display: none;
}

.display-team.active {
    display: auto;
}

.summary_1 {
    text-decoration: none;
    color: black;
}

.summary_1:hover {
    color: red;
}

.fa-arrow-right {
    margin-right: 5vh;
}

.summary_2 {
    text-decoration: none;
    color: darkgreen;
}

.BI_Text {
    margin-top: 15vh;
    text-align: center;
}

.DS_Text {
    margin-top: 15vh;
    text-align: center;
}

.PwC_Text {
    margin-top: 15vh;
    text-align: center;
}

.paragraph {
    white-space: pre-wrap;
}

.pwcCP {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
    margin-top: 10vh;
}

.CP_IMG {
    border-radius: 20%;
}

.pwcIETO {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 2%;
    margin-top: 10vh;
}

.IETO_IMG {
    border-radius: 10%;
}

.pwcHierarchy {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 12vh;
}