.display-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.title {
    text-align: center;
    color: orange;
    margin-top: 15vh;
    font-size: 45;
}

.center-text {
    text-align: center;
}

.internship-location_master {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.center-link {
    margin-top: 5%;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.two-link {
    display: flex;
    justify-content: space-between;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 2%;
    margin-top: 10vh;
}

.thanks-text {
    margin-top: 10vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
}

.display-team {
    display: none;
}

.display-team.active {
    display: auto;
}

.display-team2 {
    display: none;
}

.display-team2.active {
    display: auto;
}



.summary_1 {
    text-decoration: none;
    color: black;
}

.summary_1:hover {
    color: red;
}

.summary_2 {
    text-decoration: none;
    color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary_3 {
    text-decoration: none;
    color: brown;
}
