.display-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.title {
    text-align: center;
    color: orange;
    margin-top: 15vh;
    font-size: 55px;
}

.center-text {
    text-align: center;
}

.internship-location_master {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
}

.two-link {
    display: flex;
    justify-content: space-between;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 2%;
    margin-top: 7vh;
}

.thanks-text {
    margin-top: 7vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
}

.plan {
    text-decoration: none;
    color: black;
}

.plan:hover {
    color: red;
}

.BI_Text {
    margin-top: 15vh;
    text-align: center;
}

.DS_Text {
    margin-top: 15vh;
    text-align: center;
}

.PwC_Text {
    margin-top: 15vh;
    text-align: center;
}

.pwcCP {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
    margin-top: 7vh;
}

.CP_IMG {
    border-radius: 20%;
}

.pwcIETO {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 15%;
    margin-bottom: 2%;
    margin-top: 7vh;
}

.IETO_IMG {
    border-radius: 7%;
}

.pwcHierarchy {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.days {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8vh;
    color: blue;
    font-size: large;
}

.hours {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8vh;
    color: red;
    font-size: large;
}

.minutes {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8vh;
    color: green;
    font-size: large;
}

.seconds {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8vh;
    color: brown;
    font-size: large;
}

.glossaire {
    margin-top: 15vh;
    text-align: center;
}

.glossaire-title {
    margin-top: 7vh;
    text-align: center;
}

.glossaire-text {
    margin-top: 5vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
}

.introduction {
    margin-top: 7vh;
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.2em;
}

.enterprise {
    margin-top: 7vh;
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.2em;
}

.datascience {
    margin-top: 7vh;
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.2em;
}

.businessintelligence {
    margin-top: 7vh;
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.2em;
}

.conclusion {
    margin-top: 7vh;
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.2em;
}

.conclusion-link {
    margin-top: 7vh;
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.2em;
}

.report {
    text-decoration: none;
    color: red;
    font-size: 1.2em;
}

.ppt {
    text-decoration: none;
    color: green;
    font-size: 1.2em;
}

.notation {
    margin-top: 7vh;
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.2em;
}

.notation-text {
    margin-top: 5vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
}

.notation-value-1 {
    margin-top: 5vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
    color: red;
}

.notation-value-2 {
    margin-top: 5vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
    color: orange;
}

.notation-value-3 {
    margin-top: 5vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
    color: green;
}

.notation-value-4 {
    margin-top: 5vh;
    display: flex;
    font-size: 1.2em;
    white-space: pre-wrap;
    justify-content: center;
    text-align: center;
    color: blue;
}