.navbar {
	background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
	height: 80px;
	display: flex;
	font-size: 1.2rem;
	justify-content: space-between;
}

.navbar-logo {
	cursor: pointer;
	color: white;
	text-decoration: none;
	padding: 1.5rem;
}

.navbar-logo.active {
	color: #1888ff;
	/* color: #15cdfc; */
}

.fa-firstdraft {
	padding: 0rem 0.5rem;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	justify-content: end;
	margin-right: 2rem;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 80px;
}

.nav-links {
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.nav-links.active {
	color: #1888ff;
}

.nav-links:hover {
	background-color: #1888ff;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}

.fa-bars {
	color: #fff;
}

.fa-caret-down {
	padding: 0rem 0.5rem;
}

.menu-icon {
	display: none;
}

@media screen and (max-width: 960px) {
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #242222;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: #1888ff;
		border-radius: 0;
	}

	.navbar-logo {
		position: absolute;
		top: 0;
		left: 0;
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}
}